
xcode/BlueBasic/BlueBasic.xcodeproj/xcuserdata/**
xcode/BlueBasic/BlueBasic.xcodeproj/project.xcworkspace/xcuserdata/**
xcode/BlueBasic/BlueBasic.xcodeproj/project.xcworkspace/xcshareddata/**

BLE-CC254x-1.4.0/Projects/ble/BlueBasic/CC2540DB/CC2540/Exe/**
BLE-CC254x-1.4.0/Projects/ble/BlueBasic/CC2540DB/CC2540/List/**
BLE-CC254x-1.4.0/Projects/ble/BlueBasic/CC2540DB/CC2540/Obj/**
BLE-CC254x-1.4.0/Projects/ble/BlueBasic/CC2541DB/CC2541/Exe/**
BLE-CC254x-1.4.0/Projects/ble/BlueBasic/CC2541DB/CC2541/List/**
BLE-CC254x-1.4.0/Projects/ble/BlueBasic/CC2541DB/CC2541/Obj/**

