*.dep

xcode/BlueBasic/BlueBasic.xcodeproj/project.xcworkspace/xcuserdata/
xcode/BlueBasic/BlueBasic.xcodeproj/project.xcworkspace/xcshareddata/
xcode/BlueBasic/BlueBasic.xcodeproj/xcuserdata/

BLE-CC254x-1.4.0/Projects/ble/BlueBasic/Build/settings/
BLE-CC254x-1.4.0/Projects/ble/BlueBasic/Build/CC2540/Exe/
BLE-CC254x-1.4.0/Projects/ble/BlueBasic/Build/CC2540/Obj/
BLE-CC254x-1.4.0/Projects/ble/BlueBasic/Build/CC2540/List/

BLE-CC254x-1.4.0/Projects/ble/BlueBasic/Build/settings/
BLE-CC254x-1.4.0/Projects/ble/BlueBasic/Build/CC2541/Exe/
BLE-CC254x-1.4.0/Projects/ble/BlueBasic/Build/CC2541/Obj/
BLE-CC254x-1.4.0/Projects/ble/BlueBasic/Build/CC2541/List/

*.tmp

